@page
@model TeamEventRegistration.Web.Areas.Admin.Pages.Activities.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.ActivityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.ActivityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.ActivityDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.ActivityDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.ActivityRules)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.ActivityRules)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Activity.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
